<section class="section py-0">
  <div class="container content">
    <div *ngIf="nominatedMovies.length; else noNominations" class="field is-grouped is-grouped-multiline">
      <div *ngFor="let movie of nominatedMovies" class="control">
        <div class="tags are-medium has-addons">
          <span class="tag is-primary">{{ movie | titleYear }}</span>
          <a class="tag is-delete" (click)="onDelete(movie.imdbID)"></a>
        </div>
      </div>
    </div>
    <ng-template #noNominations>
      <p>No nominations.</p>
    </ng-template>
  </div>
</section>
